In [1]:
import pandas as pd
import numpy as np
from sklearn.externals import joblib
import warnings
warnings.filterwarnings('ignore')

### Survey patients characteristics

Download the dataset from https://www.kaggle.com/new-york-state/nys-patient-characteristics-survey-pcs-2015

In [2]:
file_path = '../data/gitignoreDATA/nys-patient-characteristics-survey-pcs-2015/patient-characteristics-survey-pcs-2015.csv'

check_df = pd.read_csv(file_path)
print(f'shape: {check_df.shape}')
n_cols_unknown = len([col for col in check_df.columns if "UNKNOWN" in check_df[col].values])

print(f'{n_cols_unknown} out of {len(check_df.columns)} columns contain the UNKNOWN value:\n')

for col in check_df.columns:
    col_vals = check_df[col].values
    if 'UNKNOWN' in col_vals:
        perc_unknown = len(col_vals[col_vals=='UNKNOWN'])/len(col_vals)
        print(f"{col:<30} : {round(perc_unknown,3):>5} % of unknown values")
        if perc_unknown>0.1:
            #rimuovi la colonna
            check_df.drop(col,1,inplace=True)
            print(f'removing column {col}')
        else:
            #rimuovi le righe
            indexes_unknown = check_df[check_df[col]=="UNKNOWN"].index.values
            check_df.drop(indexes_unknown,inplace=True)
            print(f'removing {len(indexes_unknown)} instances with unknown value in {col}\n')

shape: (179096, 67)
58 out of 67 columns contain the UNKNOWN value:

Age Group                      :   0.0 % of unknown values
removing 18 instances with unknown value in Age Group

Sex                            : 0.002 % of unknown values
removing 376 instances with unknown value in Sex

Transgender                    : 0.027 % of unknown values
removing 4865 instances with unknown value in Transgender

Sexual Orientation             : 0.077 % of unknown values
removing 13441 instances with unknown value in Sexual Orientation

Hispanic Ethnicity             : 0.015 % of unknown values
removing 2336 instances with unknown value in Hispanic Ethnicity

Living Situation               : 0.008 % of unknown values
removing 1208 instances with unknown value in Living Situation

Household Composition          : 0.019 % of unknown values
removing 2912 instances with unknown value in Household Composition

Preferred Language             : 0.002 % of unknown values
removing 369 instances with unknown value in Preferred Language

Veteran Status                 : 0.016 % of unknown values
removing 2393 instances with unknown value in Veteran Status

Education Status               : 0.053 % of unknown values
removing 8053 instances with unknown value in Education Status

Special Education Services     : 0.006 % of unknown values
removing 863 instances with unknown value in Special Education Services

Mental Illness                 : 0.006 % of unknown values
removing 899 instances with unknown value in Mental Illness

Intellectual Disability        : 0.041 % of unknown values
removing 5752 instances with unknown value in Intellectual Disability

Autism Spectrum                : 0.005 % of unknown values
removing 731 instances with unknown value in Autism Spectrum

Other Developmental Disability : 0.004 % of unknown values
removing 494 instances with unknown value in Other Developmental Disability

Alcohol Related Disorder       : 0.004 % of unknown values
removing 473 instances with unknown value in Alcohol Related Disorder

Drug Substance Disorder        : 0.002 % of unknown values
removing 205 instances with unknown value in Drug Substance Disorder

Mobility Impairment Disorder   : 0.002 % of unknown values
removing 298 instances with unknown value in Mobility Impairment Disorder

Hearing Visual Impairment      : 0.001 % of unknown values
removing 193 instances with unknown value in Hearing Visual Impairment

Hyperlipidemia                 : 0.042 % of unknown values
removing 5542 instances with unknown value in Hyperlipidemia

Smokes                         : 0.013 % of unknown values
removing 1681 instances with unknown value in Smokes

Received Smoking Medication    : 0.008 % of unknown values
removing 1068 instances with unknown value in Received Smoking Medication

Received Smoking Counseling    : 0.003 % of unknown values
removing 353 instances with unknown value in Received Smoking Counseling

Serious Mental Illness         : 0.001 % of unknown values
removing 109 instances with unknown value in Serious Mental Illness

Principal Diagnosis Class      : 0.022 % of unknown values
removing 2774 instances with unknown value in Principal Diagnosis Class

Additional Diagnosis Class     : 0.538 % of unknown values
removing column Additional Diagnosis Class
SSI Cash Assistance            : 0.039 % of unknown values
removing 4690 instances with unknown value in SSI Cash Assistance

SSDI Cash Assistance           : 0.007 % of unknown values
removing 855 instances with unknown value in SSDI Cash Assistance

Veterans Disability Benefits   : 0.002 % of unknown values
removing 178 instances with unknown value in Veterans Disability Benefits

Veterans Cash Assistance       : 0.001 % of unknown values
removing 81 instances with unknown value in Veterans Cash Assistance

Public Assistance Cash Program : 0.013 % of unknown values
removing 1535 instances with unknown value in Public Assistance Cash Program

Other Cash Benefits            : 0.004 % of unknown values
removing 475 instances with unknown value in Other Cash Benefits

Medicaid and Medicare Insurance : 0.008 % of unknown values
removing 898 instances with unknown value in Medicaid and Medicare Insurance

No Insurance                   : 0.002 % of unknown values
removing 232 instances with unknown value in No Insurance

Medicaid Insurance             :   0.0 % of unknown values
removing 27 instances with unknown value in Medicaid Insurance

Medicaid Managed Insurance     : 0.048 % of unknown values
removing 5405 instances with unknown value in Medicaid Managed Insurance

Medicare Insurance             :   0.0 % of unknown values
removing 27 instances with unknown value in Medicare Insurance

Private Insurance              : 0.001 % of unknown values
removing 150 instances with unknown value in Private Insurance

Child Health Plus Insurance    : 0.001 % of unknown values
removing 105 instances with unknown value in Child Health Plus Insurance

Other Insurance                : 0.001 % of unknown values
removing 121 instances with unknown value in Other Insurance

Criminal Justice Status        : 0.016 % of unknown values
removing 1695 instances with unknown value in Criminal Justice Status

In [3]:
mental_illness_related = ['Mental Illness','Serious Mental Illness','Other Developmental Disability','Alcohol Related Disorder',
       'Drug Substance Disorder']
labels_df = check_df.groupby(mental_illness_related).size().reset_index()

#we delete all the instances with labels that do not appear at least 50 times
labels_to_drop = labels_df[labels_df[0]<50]
labels_to_drop

,Mental Illness,Serious Mental Illness,Other Developmental Disability,Alcohol Related Disorder,Drug Substance Disorder,0
5,NO,NO,YES,NO,YES,2
6,NO,NO,YES,YES,NO,8
7,NO,NO,YES,YES,YES,5
9,NO,YES,NO,NO,YES,30
10,NO,YES,NO,YES,NO,19
11,NO,YES,NO,YES,YES,18
13,NO,YES,YES,NO,YES,1
14,NO,YES,YES,YES,YES,3
20,YES,NO,YES,NO,YES,15
21,YES,NO,YES,YES,NO,10
22,YES,NO,YES,YES,YES,7

In [4]:
#drop the rows with these classifications
x_cols = set(labels_to_drop.columns.tolist())
df_cols = set(check_df.columns.tolist())
common_cols = list(x_cols & df_cols)

rows_to_drop = labels_to_drop.merge(check_df.reset_index(), on=common_cols)['index'].values.tolist()
print(rows_to_drop)

check_df = check_df.drop(rows_to_drop).reset_index(drop=True)

[19699, 137996, 1638, 1712, 7399, 20487, 36666, 72888, 109201, 127466, 1684, 29582, 37984, 39731, 56431, 9751, 27081, 27401, 27648, 28421, 28605, 29843, 30101, 30650, 30880, 41914, 42378, 52078, 58681, 64684, 65723, 66495, 75084, 76153, 80943, 81529, 82204, 106655, 118314, 119305, 131627, 133232, 133666, 137124, 165356, 2115, 25227, 28945, 41568, 43941, 44392, 55059, 55670, 59676, 73936, 78529, 103489, 120293, 129415, 129452, 129922, 132645, 133655, 158949, 20057, 25262, 26337, 28422, 31991, 36945, 49248, 78759, 92424, 129028, 129088, 129466, 137126, 140241, 149625, 159768, 163735, 164137, 30045, 53962, 76769, 100592, 13333, 13776, 14021, 25846, 28163, 29193, 30028, 58295, 59932, 60967, 72036, 72715, 73188, 124421, 129891, 15545, 41755, 44550, 59849, 72828, 72846, 81797, 83073, 95369, 162227, 14036, 14595, 27074, 28822, 31957, 97952, 178431]

In [5]:
binary_cols = []
cols_2drop = []
for col in check_df.columns.values:
    grouped = check_df.groupby(col).size()
    print(grouped)
    if len(grouped)==2:
        binary_cols.append(col)
    if len(grouped)==1:
        cols_2drop.append(col)
        print(f'Drop column {col} because there is just one value for all instances')
    print()

Survey Year
2015    105098
dtype: int64
Drop column Survey Year because there is just one value for all instances

Program Category
EMERGENCY       1179
INPATIENT       5662
OUTPATIENT     72465
RESIDENTIAL    18334
SUPPORT         7458
dtype: int64

Region Served
CENTRAL NY REGION       11027
HUDSON RIVER REGION     13683
LONG ISLAND REGION       8544
NEW YORK CITY REGION    57053
WESTERN REGION          14791
dtype: int64

Age Group
ADULT    87977
CHILD    17121
dtype: int64

Sex
FEMALE    55121
MALE      49977
dtype: int64

Transgender
CLIENT DIDN'T ANSWER       471
NO, NOT TRANSGENDER     103871
YES, TRANSGENDER           756
dtype: int64

Sexual Orientation
BISEXUAL                     2716
CLIENT DID NOT ANSWER        3144
LESBIAN OR GAY               3304
OTHER                         701
STRAIGHT OR HETEROSEXUAL    95233
dtype: int64

Hispanic Ethnicity
NO, NOT HISPANIC/LATINO    79498
YES                        25600
dtype: int64

Race
BLACK ONLY      26989
MULTI-RACIAL     2930
OTHER           18398
UNKNOWN RACE     1416
WHITE ONLY      55365
dtype: int64

Living Situation
INSTITUTIONAL SETTING      1086
OTHER LIVING SITUATION    17621
PRIVATE RESIDENCE         86391
dtype: int64

Household Composition
COHABITATES WITH OTHERS    61019
LIVES ALONE                25372
NOT APPLICABLE             18707
dtype: int64

Preferred Language
AFRO-ASIATIC                  284
ALL OTHER LANGUAGES           468
ASIAN AND PACIFIC ISLAND      852
ENGLISH                     93079
INDO-EUROPEAN                2019
SPANISH                      8396
dtype: int64

Veteran Status
NO     102236
YES      2862
dtype: int64

Employment Status
EMPLOYED                                                  17451
NON-PAID/VOLUNTEER                                         1161
NOT IN LABOR FORCE:UNEMPLOYED AND NOT LOOKING FOR WORK    74698
UNEMPLOYED, LOOKING FOR WORK                              10925
UNKNOWN EMPLOYMENT STATUS                                   863
dtype: int64

Number Of Hours Worked Each Week
01-14 HOURS                  3463
15-34 HOURS                  6208
35 HOURS OR MORE             6683
NOT APPLICABLE              87647
UNKNOWN EMPLOYMENT HOURS     1097
dtype: int64

Education Status
COLLEGE OR GRADUATE DEGREE      17041
MIDDLE SCHOOL TO HIGH SCHOOL    61759
NO FORMAL EDUCATION               441
OTHER                            2055
PRE-K TO FIFTH GRADE             7387
SOME COLLEGE                    16415
dtype: int64

Special Education Services
NO                 8679
NOT APPLICABLE    88710
YES                7709
dtype: int64

Mental Illness
NO       4686
YES    100412
dtype: int64

Intellectual Disability
NO     98703
YES     6395
dtype: int64

Autism Spectrum
NO     103392
YES      1706
dtype: int64

Other Developmental Disability
NO     101906
YES      3192
dtype: int64

Alcohol Related Disorder
NO     94932
YES    10166
dtype: int64

Drug Substance Disorder
NO     90773
YES    14325
dtype: int64

Mobility Impairment Disorder
NO     100051
YES      5047
dtype: int64

Hearing Visual Impairment
NO     99838
YES     5260
dtype: int64

Hyperlipidemia
NO     89335
YES    15763
dtype: int64

High Blood Pressure
NO     81751
YES    23347
dtype: int64

Diabetes
NO     91280
YES    13818
dtype: int64

Obesity
NO     88042
YES    17056
dtype: int64

Heart Attack
NO     103802
YES      1296
dtype: int64

Stroke
NO     103763
YES      1335
dtype: int64

Other Cardiac
NO     100049
YES      5049
dtype: int64

Pulmonary Asthma
NO     92178
YES    12920
dtype: int64

Alzheimer or Dementia
NO     104622
YES       476
dtype: int64

Kidney Disease
NO     103456
YES      1642
dtype: int64

Liver Disease
NO     102351
YES      2747
dtype: int64

Endocrine Condition
NO     98958
YES     6140
dtype: int64

Neurological Condition
NO     103747
YES      1351
dtype: int64

Traumatic Brain Injury
NO     103531
YES      1567
dtype: int64

Joint Disease
NO     94562
YES    10536
dtype: int64

Cancer
NO     102586
YES      2512
dtype: int64

Other Chronic Med Condition
NO     85058
YES    20040
dtype: int64

No Chronic Med Condition
NO     64555
YES    40543
dtype: int64

Unknown Chronic Med Condition
NO    105098
dtype: int64
Drop column Unknown Chronic Med Condition because there is just one value for all instances

Smokes
NO     73721
YES    31377
dtype: int64

Received Smoking Medication
NO     99395
YES     5703
dtype: int64

Received Smoking Counseling
NO     87178
YES    17920
dtype: int64

Serious Mental Illness
NO     17629
YES    87469
dtype: int64

Principal Diagnosis Class
MENTAL ILLNESS                               102799
NOT MI - DEVELOPMENTAL DISORDERS                523
NOT MI - ORGANIC MENTAL DISORDER                275
NOT MI - OTHER                                  199
SUBSTANCE-RELATED AND ADDICTIVE DISORDERS      1302
dtype: int64

SSI Cash Assistance
NO     65320
YES    39778
dtype: int64

SSDI Cash Assistance
NO     83260
YES    21838
dtype: int64

Veterans Disability Benefits
NO     104550
YES       548
dtype: int64

Veterans Cash Assistance
NO     104833
YES       265
dtype: int64

Public Assistance Cash Program
NO     86872
YES    18226
dtype: int64

Other Cash Benefits
NO     95773
YES     9325
dtype: int64

Medicaid and Medicare Insurance
NO     87358
YES    17740
dtype: int64

No Insurance
NO     100115
YES      4983
dtype: int64

Unknown Insurance Coverage
NO    105098
dtype: int64
Drop column Unknown Insurance Coverage because there is just one value for all instances

Medicaid Insurance
NO     25577
YES    79521
dtype: int64

Medicaid Managed Insurance
NO                27596
NOT APPLICABLE    25577
YES               51925
dtype: int64

Medicare Insurance
NO     80159
YES    24939
dtype: int64

Private Insurance
NO     90856
YES    14242
dtype: int64

Child Health Plus Insurance
NO     103681
YES      1417
dtype: int64

Other Insurance
NO     99300
YES     5798
dtype: int64

Criminal Justice Status
NO     95965
YES     9133
dtype: int64

Three Digit Residence Zip Code
100    10581
101      228
103     2370
104    11895
105     2477
106      612
107     1161
108      311
109     1681
110      683
111     1020
112    16052
113     5638
114     4566
115     2083
116     1472
117     5348
118      156
119     1025
120     1493
121      860
122      598
123      539
124      755
125     1486
126      691
127      417
128      782
129      923
130     1660
131      663
132     1583
133      583
134      968
135      940
136      996
137      530
138      691
139      445
140     1610
141      600
142     3270
143      359
144     1066
145     1142
146     2913
147     1112
148     1609
149      515
888     2653
999     1287
dtype: int64

In [6]:
binary_cols

['Age Group',
 'Sex',
 'Hispanic Ethnicity',
 'Veteran Status',
 'Mental Illness',
 'Intellectual Disability',
 'Autism Spectrum',
 'Other Developmental Disability',
 'Alcohol Related Disorder',
 'Drug Substance Disorder',
 'Mobility Impairment Disorder',
 'Hearing Visual Impairment',
 'Hyperlipidemia',
 'High Blood Pressure',
 'Diabetes',
 'Obesity',
 'Heart Attack',
 'Stroke',
 'Other Cardiac',
 'Pulmonary Asthma',
 'Alzheimer or Dementia',
 'Kidney Disease',
 'Liver Disease',
 'Endocrine Condition',
 'Neurological Condition',
 'Traumatic Brain Injury',
 'Joint Disease',
 'Cancer',
 'Other Chronic Med Condition',
 'No Chronic Med Condition',
 'Smokes',
 'Received Smoking Medication',
 'Received Smoking Counseling',
 'Serious Mental Illness',
 'SSI Cash Assistance',
 'SSDI Cash Assistance',
 'Veterans Disability Benefits',
 'Veterans Cash Assistance',
 'Public Assistance Cash Program',
 'Other Cash Benefits',
 'Medicaid and Medicare Insurance',
 'No Insurance',
 'Medicaid Insurance',
 'Medicare Insurance',
 'Private Insurance',
 'Child Health Plus Insurance',
 'Other Insurance',
 'Criminal Justice Status']

In [7]:
cols_2drop
check_df.drop(cols_2drop,1,inplace=True)
# we also have to remove the information on the Principal Diagnosis Class
check_df.drop('Principal Diagnosis Class',1,inplace=True)
check_df.reset_index(drop=True,inplace=True)

In [8]:
dummified_binary_df = pd.get_dummies(check_df[binary_cols],drop_first=True)
dummified_binary_df_rename = dummified_binary_df.drop(['Age Group_CHILD','Sex_MALE'],1)
dummified_binary_df_rename.columns = binary_cols[2:]
dummified_binary_df = pd.concat([dummified_binary_df[['Age Group_CHILD','Sex_MALE']],dummified_binary_df_rename],1)
dummified_binary_df.head()

,Age Group_CHILD,Sex_MALE,Hispanic Ethnicity,Veteran Status,Mental Illness,Intellectual Disability,Autism Spectrum,Other Developmental Disability,Alcohol Related Disorder,Drug Substance Disorder,...,Public Assistance Cash Program,Other Cash Benefits,Medicaid and Medicare Insurance,No Insurance,Medicaid Insurance,Medicare Insurance,Private Insurance,Child Health Plus Insurance,Other Insurance,Criminal Justice Status
0,0,1,1,0,1,0,0,0,1,1,...,0,0,0,0,1,0,0,0,0,1
1,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,1,0,0,1,0,0,0,1,1,...,0,0,0,1,0,0,0,0,0,1
4,0,1,0,1,1,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1

In [9]:
dummified_nonbinary_df = pd.get_dummies(check_df.drop(binary_cols,1),drop_first=False)
dummified_nonbinary_df.head()

,Three Digit Residence Zip Code,Program Category_EMERGENCY,Program Category_INPATIENT,Program Category_OUTPATIENT,Program Category_RESIDENTIAL,Program Category_SUPPORT,Region Served_CENTRAL NY REGION,Region Served_HUDSON RIVER REGION,Region Served_LONG ISLAND REGION,Region Served_NEW YORK CITY REGION,...,Education Status_NO FORMAL EDUCATION,Education Status_OTHER,Education Status_PRE-K TO FIFTH GRADE,Education Status_SOME COLLEGE,Special Education Services_NO,Special Education Services_NOT APPLICABLE,Special Education Services_YES,Medicaid Managed Insurance_NO,Medicaid Managed Insurance_NOT APPLICABLE,Medicaid Managed Insurance_YES
0,113,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
1,107,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
2,888,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0
3,113,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
4,130,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0

In [10]:
dummified_check_df = pd.concat([dummified_binary_df,dummified_nonbinary_df],1)

In [11]:
dummified_check_df.rename(columns={'Three Digit Residence Zip Code':'ZIP3'},inplace=True)
dummified_ZIP = pd.get_dummies(dummified_check_df['ZIP3'],drop_first=False,prefix_sep='=',prefix='ZIP3')
dummified_check_df.drop('ZIP3',1,inplace=True)
dummified_check_df = pd.concat([dummified_check_df,dummified_ZIP],1)

In [12]:
dummified_check_df.head()

,Age Group_CHILD,Sex_MALE,Hispanic Ethnicity,Veteran Status,Mental Illness,Intellectual Disability,Autism Spectrum,Other Developmental Disability,Alcohol Related Disorder,Drug Substance Disorder,...,ZIP3=142,ZIP3=143,ZIP3=144,ZIP3=145,ZIP3=146,ZIP3=147,ZIP3=148,ZIP3=149,ZIP3=888,ZIP3=999
0,0,1,1,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,1,0,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
dummified_check_df.to_csv('../data/mental_illness.csv',index=True)

In [14]:
mental_illness_related

['Mental Illness',
 'Serious Mental Illness',
 'Other Developmental Disability',
 'Alcohol Related Disorder',
 'Drug Substance Disorder']

In [15]:
numerical_vars = []
labels_name = mental_illness_related
categorical_vars = [col for col in dummified_check_df if col not in labels_name]

np.save('../data/numerical_mental_vars.npy',numerical_vars)
np.save('../data/labels_name_mental.npy',labels_name)
np.save('../data/categorical_mental_vars.npy',categorical_vars)